{% extends "base.html" %}

{% block title %}

    Download Youtube Video

{% endblock %}

{% block body %}

    <h2>YouTube Video Downloader</h2>
    <form action=# method="POST" >
        Enter Youtube link : <input type="text" name="link"> <br>
        <br> <input type="submit" value="Submit">
    </form>
    <br><br>
    

    {% if (not len == 0) %}
        <h4>Available formats : </h4>
        {% for i in range(0,len) %}
            <a href={{ links[i] }} download> {{ titles[i] }} </a> 
            <br>
            <br>
        {% endfor %}
    {% endif %}

{% endblock %}
